In [29]:
import pandas as pd

In [48]:
df = pd.read_pickle('temp/out_symbol_dvader_negative.pkl')
df

,created_utc,AMC,AMD,BB,GME,NOK,PLTR,RH,RKT,TLRY,TSLA
0,2021-01-01,0.000000,0.048077,0.017000,0.063710,0.000000,0.077882,0.092982,0.089231,0.000000,0.048232
1,2021-01-02,0.000000,0.011400,0.124000,0.058627,0.000000,0.058823,0.085267,0.063600,0.089000,0.056692
2,2021-01-03,0.000000,0.056333,0.033067,0.054770,0.049667,0.066678,0.051541,0.077313,0.061100,0.075995
3,2021-01-04,0.000000,0.089649,0.082000,0.082828,0.161143,0.084030,0.078984,0.101242,0.020275,0.070899
4,2021-01-05,0.000000,0.102611,0.015333,0.080953,0.076500,0.073023,0.078932,0.056983,0.043122,0.065118
...,...,...,...,...,...,...,...,...,...,...,...
306,2021-11-24,0.128382,0.071987,0.063397,0.082121,0.211500,0.072741,0.089571,0.040000,0.024857,0.073734
307,2021-11-25,0.017294,0.046437,0.048911,0.074537,0.000000,0.040333,0.112714,0.000000,0.023200,0.071127
308,2021-11-26,0.053769,0.084750,0.032872,0.103321,0.123500,0.078339,0.070824,0.000000,0.070750,0.075429
309,2021-11-27,0.106429,0.060857,0.067778,0.103193,0.109000,0.064200,0.037889,0.000000,0.068000,0.060059
310,2021-11-28,0.074500,0.045571,0.000000,0.090615,0.000000,0.099625,0.254500,0.000000,0.000000,0.054545

In [38]:
df =df.fillna(0)

In [39]:
df

,created_utc,AMC,AMD,BB,GME,NOK,PLTR,RH,RKT,TLRY,TSLA
0,2021-01-01,0.266667,0.043239,-0.138229,0.058888,0.000000,0.029304,0.008329,-0.002508,0.000000,0.048509
1,2021-01-02,0.000000,0.151684,-0.300000,0.051569,0.125000,0.049101,0.050854,0.011097,0.119318,0.041724
2,2021-01-03,0.000000,-0.019659,0.020793,0.073163,0.301010,0.024633,0.071805,0.121791,0.152305,0.014928
3,2021-01-04,0.000000,-0.008564,-0.024036,0.055610,-0.113690,0.031607,0.038225,0.047669,0.115555,0.029912
4,2021-01-05,0.068182,0.006633,0.146446,0.036245,0.113889,0.047192,0.021436,0.063452,0.111093,0.063104
...,...,...,...,...,...,...,...,...,...,...,...
306,2021-11-24,0.029533,0.053881,0.075557,0.032911,0.150000,0.062319,0.009534,0.040000,0.048061,0.028299
307,2021-11-25,-0.004455,0.100304,0.088428,0.048742,0.000000,0.075078,-0.007537,0.000000,0.009917,0.087428
308,2021-11-26,0.080309,-0.038791,0.078464,-0.008884,0.091667,0.045654,-0.007435,0.100000,-0.010822,0.019301
309,2021-11-27,0.034040,0.131017,-0.201790,0.010656,0.125000,0.104312,-0.057161,0.000000,0.033333,0.099051
310,2021-11-28,-0.012500,0.026361,0.000000,0.085783,0.000000,0.115046,-0.200000,0.000000,0.000000,0.056218

In [40]:
df.to_pickle('temp/out_symbol_textblob_polarity.pkl')