In [2]:
import pandas as pd

In [4]:
df = pd.read_pickle('symbol_textblob_subjectivity.pkl')
df

        created_utc Symbol  TextBlob_Subjectivity
2298819  2021-01-01   TSLA               0.144444
4482268  2021-01-01   PLTR               0.614444
2299088  2021-01-01     DD               0.447619
4482275  2021-01-01      F               0.000000
4482128  2021-01-01    GME               0.000000
...             ...    ...                    ...
465806   2021-11-28   DKNG               0.000000
465803   2021-11-28     DD               0.000000
6743427  2021-11-28    SKY               0.000000
465891   2021-11-28     TD               0.536111
6744349  2021-11-28      A               0.400000

[2755024 rows x 3 columns]