In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/isaac/lib/python3.10/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/isaac/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Users/isaac/lib/python3.10/site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in /Users/isaac/lib/python3.10/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/isaac/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
comments_df = pd.read_pickle('comments_df.pkl')

In [4]:
comments_df = comments_df.drop(columns=['all_awardings', 'approved_at_utc', 'associated_award', 'author', 'author_flair_background_color', 'author_flair_css_class', 'author_flair_template_id', 'author_flair_text', 'author_flair_text_color', 'author_is_blocked', 'awarders', 'banned_at_utc', 'can_mod_post', 'collapsed', 'collapsed_because_crowd_control', 'collapsed_reason', 'collapsed_reason_code', 'comment_type', 'distinguished', 'edited', 'gildings', 'id', 'is_submitter', 'link_id', 'locked', 'no_follow', 'parent_id', 'permalink', 'retrieved_on', 'score', 'send_replies', 'stickied', 'subreddit', 'subreddit_id', 'top_awarded_type', 'total_awards_received', 'treatment_tags', 'unrepliable_reason', 'author_flair_richtext', 'author_flair_type', 'author_fullname', 'author_patreon_flair', 'author_premium', 'author_cakeday'])

In [5]:
comments_df

,body,created_utc
0,420 calls 4/21 are about 60$ a pop not gonna l...,2021-04-09 20:36:05
1,7% a week ain‚Äôt bad,2021-04-09 20:36:05
2,Man the GME cult thread is pure comedy.,2021-04-09 20:36:04
3,I hope that you have $30k set aside for taxes....,2021-04-09 20:36:01
4,I mean as long as it is profitable for you but...,2021-04-09 20:36:01
...,...,...
22739099,[removed],2021-01-28 15:24:42
22739100,SILV AG AND SLV UNBLOCKED ON ROBINHOOD,2021-01-28 15:24:42
22739101,[removed],2021-01-28 15:24:42
22739102,[removed],2021-01-28 15:24:42
22739103,[removed],2021-01-28 15:24:42

In [8]:
comments_df.dtypes

body                   object
created_utc    datetime64[ns]
dtype: object

In [9]:
comments_df['created_utc'] = comments_df['created_utc'].dt.date
comments_df = comments_df.sort_values(by="created_utc", ascending=True)
comments_df

                                                      body created_utc
4479788                    god damn what a waste of money!  2020-12-31
8075891  Better yet: sell covered calls instead of buyi...  2020-12-31
8075890         You certainly belong here. Godspeed retard  2020-12-31
8075889  So I guess a ton of people are either locking ...  2020-12-31
8075888               Shit was bouncing around like crazy.  2020-12-31
...                                                    ...         ...
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743924          https://en.m.wikipedia.org/wiki/Straw_man  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                      Yo College!!!\n\nFUK U!!!!! ü§ì  2021-11-28

[22739104 rows x 2 columns]

In [10]:
import datetime

In [11]:
row_december = comments_df[comments_df['created_utc'] == datetime.date(2020,12,31)].index
comments_df.drop(row_december, inplace=True)
comments_df

                                                      body created_utc
4482265                   Not even close to enough rockets  2021-01-01
2298808                             no product, no revenue  2021-01-01
4481342                  Green apple Jack Daniels and coke  2021-01-01
4482266                                         I did this  2021-01-01
4481339                                       Not his own.  2021-01-01
...                                                    ...         ...
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743924          https://en.m.wikipedia.org/wiki/Straw_man  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                      Yo College!!!\n\nFUK U!!!!! ü§ì  2021-11-28

[22715123 rows x 2 columns]

In [12]:
row_to_be_deleted_1 = comments_df[comments_df['body'] == '[removed]'].index
row_to_be_deleted_2 = comments_df[comments_df['body'] == '[deleted]'].index
comments_df.drop(row_to_be_deleted_1, inplace=True)
comments_df.drop(row_to_be_deleted_2, inplace=True)
comments_df

                                                      body created_utc
4482265                   Not even close to enough rockets  2021-01-01
2298808                             no product, no revenue  2021-01-01
4481342                  Green apple Jack Daniels and coke  2021-01-01
4482266                                         I did this  2021-01-01
4481339                                       Not his own.  2021-01-01
...                                                    ...         ...
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743924          https://en.m.wikipedia.org/wiki/Straw_man  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                      Yo College!!!\n\nFUK U!!!!! ü§ì  2021-11-28

[17715994 rows x 2 columns]

In [13]:
comments_df = comments_df.replace(r'\n', ' ', regex=True)
comments_df = comments_df.replace(r'http\S+', '', regex=True)
comments_df = comments_df.replace({' +':' '},regex=True)
row_to_be_deleted_3 = comments_df[comments_df['body'] == ''].index
comments_df.drop(row_to_be_deleted_3, inplace=True)
df = comments_df.reset_index(drop=True)
df

                                                       body created_utc
0                          Not even close to enough rockets  2021-01-01
1                                    no product, no revenue  2021-01-01
2                         Green apple Jack Daniels and coke  2021-01-01
3                                                I did this  2021-01-01
4                                              Not his own.  2021-01-01
...                                                     ...         ...
17681178      FAUCI is just mad that a bull fuked his wife.  2021-11-28
17681179  He said in his opinion vaccines where effectiv...  2021-11-28
17681180  The boyfriend of my wife and his stepmother ar...  2021-11-28
17681181  This sounds eerily similar to my relationship ...  2021-11-28
17681182                         Yo College!!! FUK U!!!!! ü§ì  2021-11-28

[17681183 rows x 2 columns]

In [14]:
df.to_pickle('comments_df_NEW.pkl')

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(token_pattern=r'[^\s]+')
data_cv = cv.fit_transform(df['body'])
temp = cv.get_feature_names_out()

array(['\x00it', '\x08do', '\x08fortune', ..., 'ü´ñüê∏', 'ü´ñü•≥', '†ò®Âè£‰∏Ö'],
      dtype=object)

In [19]:
textfile = open("a_file.txt", "w")
for item in temp:
    textfile.write(item + "\n")
textfile.close()