In [1]:
import pandas as pd

In [2]:
comments_df = pd.read_pickle('processed_df.pkl')
comments_df

                                                      body created_utc
4482265                   Not even close to enough rockets  2021-01-01
2298808                             no product, no revenue  2021-01-01
4481342                  Green apple Jack Daniels and coke  2021-01-01
4482266                                         I did this  2021-01-01
4481339                                       Not his own.  2021-01-01
...                                                    ...         ...
6743926      FAUCI is just mad that a bull fuked his wife.  2021-11-28
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                         Yo College!!! FUK U!!!!!   2021-11-28

[17681183 rows x 2 columns]

In [3]:
comments_df.dtypes

body                   object
created_utc    datetime64[ns]
dtype: object

In [4]:
test_df = comments_df
# test_df = comments_df.iloc[0:5000]
test_df = test_df.replace('\x00', '', regex=True)
test_df = test_df.replace('\00', '', regex=True)
test_df = test_df.replace('\0', '', regex=True)
test_df

                                                      body created_utc
4482265                   Not even close to enough rockets  2021-01-01
2298808                             no product, no revenue  2021-01-01
4481342                  Green apple Jack Daniels and coke  2021-01-01
4482266                                         I did this  2021-01-01
4481339                                       Not his own.  2021-01-01
...                                                    ...         ...
6743926      FAUCI is just mad that a bull fuked his wife.  2021-11-28
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                         Yo College!!! FUK U!!!!!   2021-11-28

[17681183 rows x 2 columns]

In [5]:
test_df.dtypes

body                   object
created_utc    datetime64[ns]
dtype: object

In [6]:
from data import *
# us 5553 stocks

In [7]:
len(us)
test_df["Symbol"] = ""
test_df

                                                      body created_utc Symbol
4482265                   Not even close to enough rockets  2021-01-01
2298808                             no product, no revenue  2021-01-01
4481342                  Green apple Jack Daniels and coke  2021-01-01
4482266                                         I did this  2021-01-01
4481339                                       Not his own.  2021-01-01
...                                                    ...         ...    ...
6743926      FAUCI is just mad that a bull fuked his wife.  2021-11-28
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                         Yo College!!! FUK U!!!!!   2021-11-28

[17681183 rows x 3 columns]

In [8]:
body_list = test_df.body.tolist()
# body_list[17]
# test_list = []
# split = body_list[17].split(" ")
# split
# for word in split:
#     word = word.replace("$", "")
#     if word.isupper() and len(word) <= 5 and word in us:
#         test_list.append(word)
# test_list

In [9]:
symbol_list = []
for i in body_list:
    inserted = False
    split = i.split(" ")
    for word in split:
        word = word.replace("$", "")
        if word.isupper() and len(word) <= 5 and word in us:
            symbol_list.append(word)
            inserted = True
            break
    if not inserted:
        symbol_list.append("")
symbol_list

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 '',
 'PLTR',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'DD',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'F',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'GME',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 '',
 '',
 '',
 '',
 'B',
 '',
 'DTE',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'PHD',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 'GME',
 '',
 '',
 'AAPL',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'SQ',
 '',
 '',
 '',
 '',
 '',
 'USA',
 'TSLA',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'L',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'PLTR',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'AM',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'PLTR',
 'L',
 '',
 '',
 'ZM',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'PLTR',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'PLTR',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'CSIQ',
 '',
 '',
 '',
 'DTE',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'GME',
 '',
 '',
 'DD',
 '',
 '',
 '',
 'RH',
 'OR',
 '',
 '',
 '',
 '',
 'DD',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'AZN',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 'GME',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'GME',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'A',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'B',
 '',
 '',
 '',
 'ARE',
 '',
 '',
 '',
 '',
 '',
 'PLTR',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'B',
 '',
 '',
 '',
 '',
 '',
 'A',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'FUN',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'VZ',
 '',
 '',
 '',
 '',
 '',
 'A',
 '',
 '',
 'QS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'JMIA',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'GME',
 'ALL',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'NIO',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'IRS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'A',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'GME',
 '',
 'PLTR',
 '',
 '',
 '',
 '',
 'GME',
 '',
 '',
 '',
 'ED',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'PM',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'AMZN',
 '',
 '',
 '',
 '',
 '',
 '',
 'TSLA',
 '',
 '',
 'NIO',
 '',
 '',
 '',
 'BABA',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'JPM',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'NYC',
 '',
 '',
 '',
 '',
 '',
 'QS',
 'PLTR',
 '',
 '',
 '',
 'BABA',
 '',
 '',
 '',
 '',
 'PLTR',
 'ZM',
 '',
 'QS',
 '',
 '',
 '',
 '',
 '',
 '',
 'PLTR',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'QS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'A',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'NIO',
 '',
 '',
 '',
 '',
 '',
 '',
 'IRS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'A',
 '',
 '',
 '',
 'RKT',
 '',
 '',
 '',
 'IRS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'PCG',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'QS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'F',
 '',
 '',
 '',
 '',
 '',
 'AMZN',
 '',
 'AAPL',
 '',
 'AAPL',
 '',
 'GME',
 '',
 '',
 'QS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'NIO',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'FUBO',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'RKT',
 '',
 'MF',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'IIPR',
 '',
 '',
 ...]

In [10]:
len(symbol_list)

17681183

In [11]:
test_df['Symbol'] = symbol_list

In [12]:
test_df

                                                      body created_utc Symbol
4482265                   Not even close to enough rockets  2021-01-01
2298808                             no product, no revenue  2021-01-01
4481342                  Green apple Jack Daniels and coke  2021-01-01
4482266                                         I did this  2021-01-01
4481339                                       Not his own.  2021-01-01
...                                                    ...         ...    ...
6743926      FAUCI is just mad that a bull fuked his wife.  2021-11-28
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                         Yo College!!! FUK U!!!!!   2021-11-28

[17681183 rows x 3 columns]

In [13]:
# count = 0
# for i in test_df.index:
#     split = test_df.loc[i, 'body'].split(" ")
#     for word in split:
#         word = word.replace("$", "")
#         if word.isupper() and len(word) <= 5 and word in us:
#             test_df.loc[i, "Symbol"] = word
#     count += 1
#     if count % 5000 == 0:
#         print(count // 17681183)
# test_df

In [14]:
test_df.dtypes

body                   object
created_utc    datetime64[ns]
Symbol                 object
dtype: object

In [15]:
%%time
count = 0
for i in test_df.index:
    if test_df.loc[i, "Symbol"] != "":
        count += 1
count

CPU times: user 56.1 s, sys: 1.42 s, total: 57.6 s
Wall time: 59 s

2755024

In [16]:
# test_df.to_excel('sample.xlsx', engine='xlsxwriter')

In [17]:
# test_df.to_pickle('comments_with_symbol_df.pkl')

In [18]:
test_df

                                                      body created_utc Symbol
4482265                   Not even close to enough rockets  2021-01-01
2298808                             no product, no revenue  2021-01-01
4481342                  Green apple Jack Daniels and coke  2021-01-01
4482266                                         I did this  2021-01-01
4481339                                       Not his own.  2021-01-01
...                                                    ...         ...    ...
6743926      FAUCI is just mad that a bull fuked his wife.  2021-11-28
6743925  He said in his opinion vaccines where effectiv...  2021-11-28
6743923  The boyfriend of my wife and his stepmother ar...  2021-11-28
6743921  This sounds eerily similar to my relationship ...  2021-11-28
6743428                         Yo College!!! FUK U!!!!!   2021-11-28

[17681183 rows x 3 columns]

In [19]:
# test_df = test_df.replace('\x00', '', regex=True)
# test_df = test_df.replace('\00', '', regex=True)
# test_df = test_df.replace('\0', '', regex=True)

In [20]:
test_df.to_pickle('comments_with_symbol_df.pkl')