In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
%%time
comments_df = pd.read_pickle('processed_df.pkl')
comments_df = dd.from_pandas(comments_df, npartitions=10)
comments_df.dtypes

CPU times: user 6.18 s, sys: 4.89 s, total: 11.1 s
Wall time: 12.2 s

body                   object
created_utc    datetime64[ns]
dtype: object

In [3]:
comments_df["Symbol"] = ""

In [4]:
test_df = comments_df.loc[0:5000]
test_df.compute()

                                                   body created_utc Symbol
0     420 calls 4/21 are about 60$ a pop not gonna l...  2021-04-09
1                                   7% a week ainâ€™t bad  2021-04-09
2               Man the GME cult thread is pure comedy.  2021-04-09
3     I hope that you have $30k set aside for taxes....  2021-04-09
4     I mean as long as it is profitable for you but...  2021-04-09
...                                                 ...         ...    ...
4996         can a homie get a dead cat bounce? goddamn  2021-05-13
4997                       I beat you, -72% this month.  2021-05-13
4998                               Better before friday  2021-05-13
4999  ðŸ¤¡ðŸ¤¡ðŸ¤¡ This is me with my EU marketplace spy puts...  2021-05-13
5000                    You really like those jeans huh  2021-07-10

[4058 rows x 3 columns]

In [5]:
from data import *
# us 5553 stocks

In [15]:
split = test_df.loc[2, 'body'].str.split(" ")
print(split)
# for word in split:
#     word = str(word).replace("$", "")
#     if word.isupper() and len(word) <= 5 and word in us:
#         test_df.loc[i, "Symbol"] = word
# count += 1
# if count % 500 == 0:
#     print(count)

Dask Series Structure:
npartitions=1
2    object
2       ...
Name: body, dtype: object
Dask Name: str-split, 23 tasks

In [6]:
count = 0
for i in test_df.index:
    split = test_df.loc[i, 'body'].str.split(" ")
    for word in split:
        word = str(word).replace("$", "")
        if word.isupper() and len(word) <= 5 and word in us:
            test_df.loc[i, "Symbol"] = word
    count += 1
    if count % 500 == 0:
        print(count)

500
1000
1500
2000
2500
3000
3500
4000

In [8]:
test_df.compute()

                                                       body created_utc Symbol
0         420 calls 4/21 are about 60$ a pop not gonna l...  2021-04-09
1                                       7% a week ainâ€™t bad  2021-04-09
2                   Man the GME cult thread is pure comedy.  2021-04-09
3         I hope that you have $30k set aside for taxes....  2021-04-09
4         I mean as long as it is profitable for you but...  2021-04-09
...                                                     ...         ...    ...
22739092                    Iâ€™m in! They canceled my order!  2021-01-28
22739095  This is not working Can barely get any search ...  2021-01-28
22739096                                        Do not sell  2021-01-28
22739097                            GME, AMC, BB!!! ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€  2021-01-28
22739100             SILV AG AND SLV UNBLOCKED ON ROBINHOOD  2021-01-28

[17681183 rows x 3 columns]

                                                   body created_utc Symbol
0     420 calls 4/21 are about 60$ a pop not gonna l...  2021-04-09
1                                   7% a week ainâ€™t bad  2021-04-09
2               Man the GME cult thread is pure comedy.  2021-04-09
3     I hope that you have $30k set aside for taxes....  2021-04-09
4     I mean as long as it is profitable for you but...  2021-04-09
...                                                 ...         ...    ...
4996         can a homie get a dead cat bounce? goddamn  2021-05-13
4997                       I beat you, -72% this month.  2021-05-13
4998                               Better before friday  2021-05-13
4999  ðŸ¤¡ðŸ¤¡ðŸ¤¡ This is me with my EU marketplace spy puts...  2021-05-13
5000                    You really like those jeans huh  2021-07-10

[4058 rows x 3 columns]

In [9]:
test_df

Dask DataFrame Structure:
                 body     created_utc  Symbol
npartitions=1
0              object  datetime64[ns]  object
5000              ...             ...     ...
Dask Name: loc, 21 tasks

In [10]:
test_df.compute()

                                                   body created_utc Symbol
0     420 calls 4/21 are about 60$ a pop not gonna l...  2021-04-09
1                                   7% a week ainâ€™t bad  2021-04-09
2               Man the GME cult thread is pure comedy.  2021-04-09
3     I hope that you have $30k set aside for taxes....  2021-04-09
4     I mean as long as it is profitable for you but...  2021-04-09
...                                                 ...         ...    ...
4996         can a homie get a dead cat bounce? goddamn  2021-05-13
4997                       I beat you, -72% this month.  2021-05-13
4998                               Better before friday  2021-05-13
4999  ðŸ¤¡ðŸ¤¡ðŸ¤¡ This is me with my EU marketplace spy puts...  2021-05-13
5000                    You really like those jeans huh  2021-07-10

[4058 rows x 3 columns]

In [11]:
%%time
count = 0
for i in test_df.index:
    if test_df.loc[i, "Symbol"] != "":
        count += 1
count

ValueError: The truth value of a Series is ambiguous. Use a.any() or a.all().