In [2]:
import pandas as pd

In [56]:
raw_df = pd.read_pickle('../Pickles/Old/combine_plot_process.pkl')
raw_df

                 Raw    Empty    Regex
created_utc
2021-01      5854247  4407690  4395910
2021-02      4644290  3170538  3163680
2021-03      2361654  1944148  1940536
2021-04      1417778  1219579  1217629
2021-05      1339675  1228267  1226330
2021-06      2129259  1633043  1630385
2021-07      1083788   892856   891664
2021-08      1007205   838996   837718
2021-09      1001595   822080   820812
2021-10       919366   758369   757317
2021-11       956266   800428   799202

In [57]:
preprocessing_df = pd.DataFrame(raw_df)
preprocessing_df = preprocessing_df.reset_index()

In [58]:
preprocessing_df['created_utc'] = preprocessing_df['created_utc'].dt.to_timestamp()
preprocessing_df.dtypes

created_utc    datetime64[ns]
Raw                     int64
Empty                   int64
Regex                   int64
dtype: object

In [59]:
preprocessing_df

   created_utc      Raw    Empty    Regex
0   2021-01-01  5854247  4407690  4395910
1   2021-02-01  4644290  3170538  3163680
2   2021-03-01  2361654  1944148  1940536
3   2021-04-01  1417778  1219579  1217629
4   2021-05-01  1339675  1228267  1226330
5   2021-06-01  2129259  1633043  1630385
6   2021-07-01  1083788   892856   891664
7   2021-08-01  1007205   838996   837718
8   2021-09-01  1001595   822080   820812
9   2021-10-01   919366   758369   757317
10  2021-11-01   956266   800428   799202

In [60]:
preprocessing_df.to_pickle('../Pickles/Old/preprocessing_stats_df.pkl')

In [61]:
df = pd.read_pickle('../Pickles/Old/preprocessing_stats_df.pkl')
df

   created_utc      Raw    Empty    Regex
0   2021-01-01  5854247  4407690  4395910
1   2021-02-01  4644290  3170538  3163680
2   2021-03-01  2361654  1944148  1940536
3   2021-04-01  1417778  1219579  1217629
4   2021-05-01  1339675  1228267  1226330
5   2021-06-01  2129259  1633043  1630385
6   2021-07-01  1083788   892856   891664
7   2021-08-01  1007205   838996   837718
8   2021-09-01  1001595   822080   820812
9   2021-10-01   919366   758369   757317
10  2021-11-01   956266   800428   799202

In [55]:
df.dtypes

created_utc    datetime64[ns]
count                   int64
dtype: object